<div class="login-screen"
     ng-class="{connected: input.logged}" >

    <div class="bg"></div>

    <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="server" class="form-control"
               ng-model="input.serverAddress"
               placeholder="Server address" required
                />
        <input type="text" class="form-control"
               ng-model="input.userName"
               placeholder="Username" required autofocus
                />
        <label class="checkbox">
            <input type="checkbox"
                   ng-model="input.rememberMe"
                   value="remember-me"
                    /> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block"
                type="submit">Sign in</button>
    </form>

</div>